# Data Insertion in Mysql -python

# Creating Connection With MySQL

## Import Libraries

In [1]:
import mysql.connector as sql
import pandas as pd

## Connecting with MySQL

In [2]:
con=sql.connect(host="localhost",
                user="root", 
                password="250994", 
                database="phonepe_data"
               )

mycursor=con.cursor(buffered=True)

## Create a new database and tables

In [7]:
#mycursor.execute("CREATE DATABASE phonepepulse")

## Import csv file to SQL from python

In [3]:
Agg_Trans1=pd.read_csv('Agg_Trans.csv')
Agg_User1=pd.read_csv('Agg_User.csv')
Map_Trans1=pd.read_csv('Map_Trans.csv')
Map_User1=pd.read_csv('Map_User.csv')
Top_Trans1=pd.read_csv('Top_Trans.csv')
Top_User1=pd.read_csv('Top_User.csv')

## Create Aggregated Transaction table

In [4]:
mycursor.execute("create table trans_agg (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in Agg_Trans1.iterrows():
    sql="INSERT INTO trans_agg Values (%s,%s,%s,%s,%s,%s)"
    # %s- considered to be string values
    mycursor.execute(sql,tuple(row))
    #by default the connection is not auto commited.so,we use commit() & they become permanent and cannot be rolled back.
    con.commit()

## Create Agreegated Users table

In [5]:
mycursor.execute("create table user_agg (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in Agg_User1.iterrows():
    sql="INSERT INTO user_agg Values (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(row))
    con.commit()

## Create Map Transaction table

In [9]:
mycursor.execute("create table trans_map1 (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in Map_Trans1.iterrows():
    sql="INSERT INTO trans_map1 Values (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(row))
    con.commit()

## Create Map Users table

In [10]:
mycursor.execute("create table user_map (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in Map_User1.iterrows():
    sql = "INSERT INTO user_map Values (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    con.commit()

## Create Top Transaction table

In [11]:
mycursor.execute("create table trans_top (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in Top_Trans1.iterrows():
    sql = "INSERT INTO trans_top Values (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    con.commit()

## Create Top Users table

In [12]:
mycursor.execute("create table user_top (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in Top_User1.iterrows():
    sql="INSERT INTO user_top Values (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    con.commit()

## List of tables

In [15]:
mycursor.execute("show tables")
mycursor.fetchall()

[('trans_agg',),
 ('trans_map1',),
 ('trans_top',),
 ('user_agg',),
 ('user_map',),
 ('user_top',)]